/* assets/style.css */
.date-picker-range {
    width: 100% !important;
    font-size: 6px;
    display: inline-block;
    border-radius: 6px;
    /* border: 1px solid #ccc; */
    border: none;
    color: #333;
}

.filter-dropdown {
    border: solid 1px #CFCFCF;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
}